<html>
    <head>
        <title>Hornet rulers</title>
        <style>{% include style.css %}</style>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <form method="POST" class="box" action="/">
            Update <a href="{{prefix}}/{link}">{{prefix}}/{{link}}</a>
            &#10137;
            <a href="{{existing_url}}">{{existing_url}}</a> to
            <a href="{{url}}">{{url}}</a>?
            <input type="hidden" name="link" value="{{link}}">
            <input type="hidden" name="url" value="{{url}}">
            <input type="submit" name="confirmed" value="&#10003;">
        </form>
    </body>
</html>
