body { font-family: system, -apple-system, Helvetica, sans-serif; }
.box { margin-top: 10ex; text-align: center; padding: 25px; border: solid 1px #999; background: #eee }
a { color: #00c; text-decoration: none; }
